# Server Configuration
PRODUCER_PORT=3000
FRONTEND_PORT=3001
FRONTEND_URL=http://localhost:3001

# RabbitMQ Configuration
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=turnos_queue
RABBITMQ_NOTIFICATIONS_QUEUE=turnos_notifications
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# Dead Letter Exchange Configuration
DLX_EXCHANGE=appointment_dlx
DLX_ROUTING_KEY=appointment_dlq

# MongoDB Configuration
MONGO_USER=admin
MONGO_PASS=admin123
MONGODB_PORT=27017

# Node Environment
NODE_ENV=development
