# Server Configuration
PRODUCER_PORT=3000
FRONTEND_PORT=3001

# RabbitMQ Configuration
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=turnos_queue
RABBITMQ_NOTIFICATIONS_QUEUE=turnos_notifications
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# MongoDB Configuration
MONGO_USER=admin
MONGO_PASS=admin123
MONGODB_PORT=27017

# Node Environment
NODE_ENV=development
